#app {
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	cursor: pointer;
}

.nav {
	li {
		display: inline-block;
		margin-right: 10px;
	}
}

.active {
	color: red;
	font-weight: bold;
}